# Python virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter checkpoints (safe even if you never use Jupyter)
.ipynb_checkpoints/

# Logs
logs/*.log

# macOS
.DS_Store

# Windows
Thumbs.db

notes for me..txt